.desktop1-container {
  min-height: 100vh;
}
.desktop1-desktop {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.4000000059604645);
}
.desktop1-background1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100;
  position: absolute;
  border-color: transparent;
}
.desktop1-text {
  top: 181px;
  left: 5.5%;
  color: rgba(255, 255, 255, 1);
  width: 686px;
  height: auto;
  position: absolute;
  font-size: 75px;
  align-self: auto;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text05 {
  top: 28px;
  left: 5.5%;
  color: rgba(255, 255, 255, 1);
  width: 146px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  text-align: left;
  font-family: Calistoga;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text07 {
  top: 5.5%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  transition: all 0.3s ease;
}
.desktop1-text07:hover {
  color: rgb(145, 187, 233);
  text-decoration: none;
}

.desktop1-text09 {
  top: 5.5%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop1-text09:hover {
  color: rgb(145, 187, 233);
  text-decoration: none;
}

.desktop1-text11 {
  top: 420px;
  left: 5.5%;
  color: rgba(255, 255, 255, 1);
  width: 752px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  text-align: left;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text13 {
  top: 87px;
  left: 71.5%;
  color: rgba(255, 255, 255, 1);
  width: 363px;
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-rectangle1 {
  top: 181px;
  left: 69.5%;
  width: 419px;
  height: 92px;
  position: absolute;
  border-color: transparent;
}
.desktop1-text15 {
  top: 518px;
  left: 71.5%;
  color: rgba(255, 255, 255, 1);
  width: 363px;
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-rectangle4 {
  top: 610px;
  left: 69.5%;
  width: 419px;
  height: 38px;
  position: absolute;
  border-color: transparent;
}


.desktop1-text19 {
  top: 190px;
  left: 70.25%;
  color: rgba(255, 255, 255, 1);
  width: 399px;
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  text-align: left;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text19:hover{
text-decoration: underline;
}

.desktop1-text21 {
  top: 617px;
  left: 70.25%;
  color: rgba(255, 255, 255, 1);
  width: 393px;
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  text-align: left;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop1-text21:hover{
  text-decoration: underline;
}

.desktop2-container {
  min-height: 100vh;
}
.desktop2-desktop2 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop2-background2 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  border-color: transparent;
}
.desktop2-bear1 {
  width: 360px;
  height: 360px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: transparent;
  border-radius: 392.5px;
}
.desktop2-text {
  color: rgba(255, 255, 255, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  text-align: left;
  font-family: Calistoga;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop2-text02 {
  color: rgba(255, 255, 255, 1);
  width: 363px;
  height: auto;
  position: absolute;
  font-size: 65px;
  align-self: auto;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop2-text03 {
  color: rgba(255, 255, 255, 1);
  width: 363px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop2-text03:hover {
  text-decoration: none;
  transform: translate(-50%, -50%) scale(1.1);
}

.desktop2-text04 {
  top: 97%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop2-text04:hover {
  color: rgb(145, 187, 233);
  text-decoration: none;
}

.desktop2-text06 {
  top: 97%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop2-text06:hover {
  color: rgb(145, 187, 233);
  text-decoration: none;
}
.desktop2-text08 {
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  width: 877px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
